
body {
	font-size: 15px;
	min-width: 600px;
	min-height: 200px;
}
#title {
	width: 100%;
}
body.hide-copy-target .copy-target {
	display: none;
}
.annotation {
	font-size: 70%;
}
.annotation:before {
	content: "※ ";
}

body[data-show-accesskey] [accesskey]:after {
	content: " ( " attr(accesskey) " )";
	color: gray;
}
