
body {
	font-size: 15px;
	min-width: 600px;
	min-height: 200px;
}
#title {
	width: 100%;
}
body.hide-copy-target .copy-target {
	display: none;
}

body[data-show-accesskey] [accesskey]:after {
	content: " ( " attr(accesskey) " )";
	color: gray;
}

body[data-show-accesskey] [data-accesskey]:after {
	content: " ( " attr(data-accesskey) " )";
	color: gray;
}

.share-item {
	display: grid;
	grid-template:
		"type    copy-button" auto
		"options options"     auto
		"element element"     auto /
		1fr      auto;
}

[data-content-name="type"] {
	grid-area: type;
}
[data-content-name="copy-button"] {
	grid-area: copy-button;
}
[data-content-name="options"] {
	grid-area: options;
}
[data-content-name="element"] {
	grid-area: element;
}
