
body {
	font-size: 15px;
	min-width: 600px;
	min-height: 200px;
}
#title {
	width: 100%;
}
body.hide-copy-target .copy-target {
	display: none;
}
#settings {
	position: fixed;
	right: 0;
	top: 0;
	background: lightyellow;
	border: 2px black solid;
	border-radius: 5px;
	overflow: auto;
	box-sizing: border-box;
	max-height: 100%;
	direction: rtl;
}
#settings * {
	direction: ltr;
}
#settings h1 {
	font-size: 1em;
	text-align: center;
}
#settings #details {
	overflow: hidden;
	max-width: 0;
	max-height: 0;
}
#settings:hover {
	padding: 5px;
	border-radius: 10px;
}
#settings:hover #details {
	white-space: nowrap;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	max-width: 1500px;
	max-height: 500px;
}
#settings * {
	margin: 0;
}
#settings .setting {
	margin-top: 20px;
}
#settings .setting-title {
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
}
.annotation {
	font-size: 70%;
}
.annotation:before {
	content: "※ ";
}
